static/etc/kvasir.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
	Cisco Security Posture Assessment
	XML Style Dictionary
	(c) 201 3Cisco Systems, Inc.

	Version 1.0
-->

<xs:schema attributeFormDefault="unqualified" 
		   elementFormDefault="qualified" 
		   version="1.0" 
		   xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="SpaResults">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="summary">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="customer" type="xs:string" />
              <xs:element name="assessment">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="start-date" type="xs:dateTime" />
                    <xs:element name="end-date" type="xs:dateTime" />
                  </xs:sequence>
                  <xs:attribute name="type" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="hosts">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="host">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="os">
                      <xs:complexType>
                        <xs:attribute name="certainty" type="xs:string" />
                        <xs:attribute name="class" type="xs:string" />
                        <xs:attribute name="family" type="xs:string" />
                        <xs:attribute name="id" type="xs:string" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="services">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="service">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string" />
                                <xs:element name="banner" type="xs:string" />
                                <xs:element name="configuration">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="config">
                                        <xs:complexType>
                                          <xs:attribute name="name" type="xs:string" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="vulns">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="vuln">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="proof" type="xs:string" />
                                          </xs:sequence>
                                          <xs:attribute name="status" type="VulnStatus" />
                                          <xs:attribute name="id" type="xs:string" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="accounts">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="account">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="username" type="xs:string" />
                                            <xs:element name="fullname" type="xs:string" />
                                            <xs:element name="password" type="xs:string" />
                                            <xs:element name="hash1" type="xs:string" />
                                            <xs:element name="hash1_type" type="xs:string" />
                                            <xs:element name="hash2" type="xs:string" />
                                            <xs:element name="hash2_type" type="xs:string" />
                                            <xs:element name="uid" type="xs:string" />
                                            <xs:element name="gid" type="xs:string" />
                                            <xs:element name="level" type="AccountLevels" />
                                            <xs:element name="domain" type="xs:string" />
                                            <xs:element name="description" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="proto" type="Protocols" />
                              <xs:attribute name="number" type="xs:integer" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="notes">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="note" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="snmps">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="snmp">
                            <xs:complexType>
                              <xs:attribute name="community" type="xs:string" />
                              <xs:attribute name="version" type="SNMP_Version" />
                              <xs:attribute name="access" type="SNMP_Access" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="netbios">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="advertised_names">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="type" type="xs:string" />
                        <xs:attribute name="domain" type="xs:string" />
                        <xs:attribute name="lockout_limit" type="xs:string" />
                        <xs:attribute name="lockout_duration" type="xs:string" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ipv4" type="xs:string" />
                  <xs:attribute name="ipv6" type="xs:string" />
                  <xs:attribute name="macaddr" type="xs:string" />
                  <xs:attribute name="hostname" type="xs:string" />
                  <xs:attribute name="netbios" type="xs:string" />
                  <xs:attribute name="assetgroup" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="os_records">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="os">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="vendor" type="xs:string" />
                    <xs:element name="product" type="xs:string" />
                    <xs:element name="version" type="xs:string" />
                    <xs:element name="update" type="xs:string" />
                    <xs:element name="edition" type="xs:string" />
                    <xs:element name="language" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" />
                  <xs:attribute name="title" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="vulns">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="vuln">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="description" type="xs:string" />
                    <xs:element name="solution" type="xs:string" />
                    <xs:element name="references">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="reference">
                            <xs:complexType>
                              <xs:attribute name="source" type="xs:string" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" />
                  <xs:attribute name="title" type="xs:string" />
                  <xs:attribute name="severity" type="xs:string" />
                  <xs:attribute name="pci_sev" type="xs:string" />
                  <xs:attribute name="cvss_score" type="xs:string" />
                  <xs:attribute name="cvss_metric" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="SNMP_Version">
    <xs:restriction base="xs:string">
      <xs:enumeration value="v1"/>
      <xs:enumeration value="v2c"/>
      <xs:enumeration value="v3"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SNMP_Access">
    <xs:restriction base="xs:string">
      <xs:enumeration value="READ"/>
      <xs:enumeration value="WRITE"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="AccountLevels">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADMIN"/>
      <xs:enumeration value="USER"/>
      <xs:enumeration value="SERVICE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Protocols">
    <xs:restriction base="xs:string">
      <xs:enumeration value="other"/>
      <xs:enumeration value="info"/>
      <xs:enumeration value="tcp"/>
      <xs:enumeration value="udp"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="VulnStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="exploited"/>
      <xs:enumeration value="vulnerable-exploited"/>
      <xs:enumeration value="potential"/>
      <xs:enumeration value="exception-vulnerable-exploited"/>
      <xs:enumeration value="exception-vulnerable-version"/>
      <xs:enumeration value="exception-vulnerable-potential"/>
      <xs:enumeration value="vulnerable-version"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
